:root{
    --main-color: #080C31;
    --secundary-color: #17173B;
    --alterntive-color: #AF2B38;
    --alternative-color-hover: #e24252;
}

*{
    color: beige;
    font-family: sans-serif;
    box-sizing: border-box; 
}

body{
    background-color: #5192c7;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-image: url(images/circulo.png);
}

#todo{
    background-color: #fff;
    background-color: var(--secundary-color);
    border: none;
    border-radius: 10px;

}

#head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

#input-text{
    width: 400px;
    background-color: #17173B
}

#text-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151536;
    border: none;
    border-radius: 10px;
    margin: 0px 30px;
}

#text-input input{
    border: none;
    outline: none;
    background-color: #151536;
    padding-left: 13px;
    width: 230px;
}

#text-input button{
    border: none;
    outline: none;
    padding: 12px 40px;
    background-color: #ff5945;
    border: none;
    border-radius: 10px;
    color: #fff;
}


#text-input button:active{
    background-color: #a52315;
}

#divList{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#list{
    width: 400px;
    transition-duration: 2s;
}

ul > li{
    
    transition-duration: 200ms;
    list-style: none;
    font-size: 17px;
    padding: 12px 0px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    width: 350px;
    padding-right: 70px;
    transform: translateY(-10px);
    animation: fadeInSlideDown 0.2s forwards;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeOutSlideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fade-out {
    animation: fadeOutSlideUp 0.5s forwards;
}

ul > li::before{
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url(../images/circulo.png);
    background-size: cover;
    background-position: center;
    text-decoration: line-through;
    top: 6px;
    left: 2px;
}



ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(../images/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 40px;
}

ul li span:hover{
    background-color: #edeef0;
}

#exit{
    position: absolute;
    right: 45px;
    color: #ff2f2f;
    font-size: 24px;
    
}

@media (width <= 500px){

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 35vh;  
    }

    #text-input{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #151536;
        border: none;
        border-radius: 10px;
        margin: 0px 30px;
        height: 50px;
    }
    
    #text-input input{
        border: none;
        outline: none;
        background-color: #151536;
        padding-left: 13px;
        width: 230px;
        height: 40px;
        font-size: 15px;
        
    }
    
    #text-input button{
        border: none;
        outline: none;
        padding: 12px 40px;
        background-color: #ff5945;
        border: none;
        border-radius: 10px;
        color: #fff;
        height: 50px;
        font-size: 15px;
    }

    #exit{
        color: var(--alternative-color-hover)
    }

    
}

@media (width >= 500px){
    #text-input button:hover{
        background-color: #ff3b25;
        cursor: pointer;
    }

    #exit:hover{
        color: #ff5441;
        cursor: pointer;
    }
}
